html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
p{
    margin: 0;
}

main{
    background-color: #341354;
    color: #BC04CC;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left{
    background-image:url(side_img.jpg);
    background-size: cover;
    height: 100%;
    width: 40vw;
    /* right: 2rem; */
    background-repeat: no-repeat;
}

.right
{
    width: 100%;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.content{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    font-weight: bold;
}
.content p:last-child{
    padding-top: 1rem;
}

.row{
    display: flex;
    gap: 2rem;
    /* align-items: center; */
}

.input{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}

.main_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-left: 2rem;
    background-color: #06063f45;
    color:#b4b4b4 ;
    box-shadow: #bb04cc29 10px 3px;
}

input{
    outline: none;
    text-indent: 5px;
    width: 20vw;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid rgb(199, 196, 196);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label{
    padding-bottom: 2px;
    /* font-weight: bold; */
    color: #e902fe;
    font-size: 0.85rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.submit_button{
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
button{
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border: none;
    background-color:#BC04CC;
    border-radius: 5px;
    color: aliceblue;
}
.caption{
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}
input:focus{
    border: 2px solid blue;

}

input[type="password"]:focus:invalid{
    border: 2px solid red;

}
.logo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 25vh;
    background-color: rgba(0, 0, 0, 0.416);

}
a{
    text-decoration: none;
    color: rgb(225, 169, 255);
}